<div class="container">
  <ng-container *ngIf="!loggedIn; else loggedInTemplate">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      <br />
      <button type="submit">Login</button>
      <button type="button" (click)="goToRegister()">Register</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </ng-container>

  <ng-template #loggedInTemplate>
    <h2>{{ message }}</h2>
    <button (click)="logout()">Logout</button>
  </ng-template>
</div>
